In [15]:
import pandas as pd 
import numpy as np

In [16]:
df=pd.read_csv("financial_inclusion_dataset.csv")

In [17]:
df

,age,gender,country,education_level,has_bank_account,mobile_money_user,loan_access,monthly_income
0,56,Male,Tanzania,Primary,1,0.0,0.0,503.20
1,69,Female,Burundi,Secondary,1,1.0,1.0,432.48
2,46,Female,Kenya,Secondary,1,1.0,0.0,206.95
3,32,Male,Rwanda,Secondary,NaN,0.0,1.0,629.71
4,60,Male,Rwanda,Secondary,0,1.0,1.0,424.83
...,...,...,...,...,...,...,...,...
49995,66,Male,Rwanda,Primary,0,0.0,0.0,673.73
49996,35,Female,Burundi,Primary,yes,1.0,1.0,485.15
49997,28,Male,Uganda,Secondary,1,1.0,0.0,325.05
49998,59,Female,Uganda,Secondary,1,0.0,0.0,910.17
49999,35,Female,Uganda,Secondary,1,1.0,0.0,459.14

In [18]:
df['age'].max()

150

In [19]:
df.loc[(df['age'] <= 0) | (df['age'] >= 150), 'age'] = np.nan

In [20]:
df['age'].max()

69.0

In [21]:
#Normalize has_bank_account field (yes, no, unknown → 1/0/NaN).

In [22]:
df['has_bank_account'].unique()

array(['1', nan, '0', 'unknown', 'no', 'yes'], dtype=object)

In [23]:
df['has_bank_account'] = df['has_bank_account'].astype(str).str.lower().str.strip()
mapping = {'yes': 1, '1': 1,'no': 0, '0': 0}
df['has_bank_account']=df['has_bank_account'].map(mapping)

In [24]:
df['has_bank_account'].unique()

array([ 1., nan,  0.])

In [25]:
#Remove or impute rows with negative income.

In [36]:
df.loc[(df['monthly_income']<0, 'monthly_income')]=np.nan

In [37]:
df.isnull().sum()

age                      0
gender                   0
country                  0
education_level          0
has_bank_account         0
mobile_money_user        0
loan_access              0
monthly_income         200
monyhly_income       50000
dtype: int64

In [38]:
df['age']=df['age'].fillna(df['age'].median())

In [39]:
num_col=df.select_dtypes(include=['number']).columns
num_col

for col in num_col:
    median_val=df[col].median()
    df[col] = df[col].fillna(median_val)

In [40]:
cat_col=df.select_dtypes(exclude=['number']).columns
cat_col

for col in cat_col:
    mode_val=df[col].mode()[0]
    df[col]=df[col].fillna(mode_val)

In [41]:
df.isnull().sum()

age                      0
gender                   0
country                  0
education_level          0
has_bank_account         0
mobile_money_user        0
loan_access              0
monthly_income           0
monyhly_income       50000
dtype: int64

In [43]:
df.columns

Index(['age', 'gender', 'country', 'education_level', 'has_bank_account',
       'mobile_money_user', 'loan_access', 'monthly_income', 'monyhly_income'],
      dtype='object')

In [46]:
df=df.drop('monyhly_income', axis=1)

In [47]:
df.isnull().sum()

age                  0
gender               0
country              0
education_level      0
has_bank_account     0
mobile_money_user    0
loan_access          0
monthly_income       0
dtype: int64

In [48]:
df.to_csv("finanical_dataset.csv", index=False)
"finanical_dataset.csv"

'finanical_dataset.csv'